In [2]:
import pandas as pd
from uuid import uuid4
from datetime import datetime

def random_id():
    return str(uuid4())[:5]
    
transactions = [
    {"id": random_id(), "date": datetime.today().isoformat(), "to": "Vinayak Nayak", "amount": 300},
    {"id": random_id(), "date": "2022-09-27 18:00:00.000", "to": "Vishal Ahuja", "amount": 400},
    {"id": random_id(), "date": "2022-10-27 18:00:00.000", "to": "Kristine Ma", "amount": 500},
    {"id": random_id(), "date": "2022-11-27 18:00:00.000", "to": "Arpit Yadav", "amount": 300},
    {"id": random_id(), "date": "2022-12-27 18:00:00.000", "to": "Vinayak Nayak", "amount": 600},
    {"id": random_id(), "date": "2022-12-29 18:00:00.000", "to": "Vishal Ahuja", "amount": 800}
]

In [12]:
from pprint import pprint
for item in transactions:
    print(item)

{'id': '43b99', 'date': '2025-01-14T11:10:16.833207', 'to': 'Vinayak Nayak', 'amount': 300}
{'id': '42bd9', 'date': '2022-09-27 18:00:00.000', 'to': 'Vishal Ahuja', 'amount': 400}
{'id': '7a070', 'date': '2022-10-27 18:00:00.000', 'to': 'Kristine Ma', 'amount': 500}
{'id': '8a9e5', 'date': '2022-11-27 18:00:00.000', 'to': 'Arpit Yadav', 'amount': 300}
{'id': 'd8989', 'date': '2022-12-27 18:00:00.000', 'to': 'Vinayak Nayak', 'amount': 600}
{'id': '4f95c', 'date': '2022-12-29 18:00:00.000', 'to': 'Vishal Ahuja', 'amount': 800}

In [13]:
"""
{'id': '43b99', 'date': '2025-01-14T11:10:16.833207', 'to': 'Vinayak Nayak', 'amount': 300}
{'id': '42bd9', 'date': '2022-09-27 18:00:00.000', 'to': 'Vishal Ahuja', 'amount': 400}
{'id': '7a070', 'date': '2022-10-27 18:00:00.000', 'to': 'Kristine Ma', 'amount': 500}
{'id': '8a9e5', 'date': '2022-11-27 18:00:00.000', 'to': 'Arpit Yadav', 'amount': 300}
{'id': 'd8989', 'date': '2022-12-27 18:00:00.000', 'to': 'Vinayak Nayak', 'amount': 600}
{'id': '4f95c', 'date': '2022-12-29 18:00:00.000', 'to': 'Vishal Ahuja', 'amount': 800}
"""

"\n{'id': '43b99', 'date': '2025-01-14T11:10:16.833207', 'to': 'Vinayak Nayak', 'amount': 300}\n{'id': '42bd9', 'date': '2022-09-27 18:00:00.000', 'to': 'Vishal Ahuja', 'amount': 400}\n{'id': '7a070', 'date': '2022-10-27 18:00:00.000', 'to': 'Kristine Ma', 'amount': 500}\n{'id': '8a9e5', 'date': '2022-11-27 18:00:00.000', 'to': 'Arpit Yadav', 'amount': 300}\n{'id': 'd8989', 'date': '2022-12-27 18:00:00.000', 'to': 'Vinayak Nayak', 'amount': 600}\n{'id': '4f95c', 'date': '2022-12-29 18:00:00.000', 'to': 'Vishal Ahuja', 'amount': 800}\n"

In [4]:
df = pd.DataFrame(transactions)

In [6]:
headers = df.columns.tolist()
headers

['id', 'date', 'to', 'amount']

In [8]:
rows = df.values.tolist()
rows

[['43b99', '2025-01-14T11:10:16.833207', 'Vinayak Nayak', 300],
 ['42bd9', '2022-09-27 18:00:00.000', 'Vishal Ahuja', 400],
 ['7a070', '2022-10-27 18:00:00.000', 'Kristine Ma', 500],
 ['8a9e5', '2022-11-27 18:00:00.000', 'Arpit Yadav', 300],
 ['d8989', '2022-12-27 18:00:00.000', 'Vinayak Nayak', 600],
 ['4f95c', '2022-12-29 18:00:00.000', 'Vishal Ahuja', 800]]